<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>спорт</title>
    <link rel="stylesheet" th:href="@{/css/gelemd.css}"/>
</head>
<body style="overflow-x: hidden;">
    <div class = "headd">
        <div style="width: 100%; height: 50px; position: relative; background: white">
            <div class = "headd">
                <!-- Header -->
        <div style="width: 100%; height: 100px; position: fixed; top: 0; background: white; z-index: 100; display: flex; align-items: center; padding: 0 20px;">
            <!-- Логотип -->
            <div style="color: #FC7C5D; font-size: 40px; font-family: Roboto; font-style: italic; font-weight: 700; margin-right: 50px;">
              KrayGo
            </div>
            
            <!-- Навигация -->
            <nav style="display: flex; gap: 30px;">
              <a href="#" style="color: black; text-decoration: none;">Главная</a>
              <a href="#" style="color: black; text-decoration: none;">Города</a>
              <a href="#" style="color: black; text-decoration: none;">Места</a>
              <a href="#" style="color: black; text-decoration: none;">О нас</a>
              <a href="#" style="color: black; text-decoration: none;">FAQ</a>
            </nav>
            
            <!-- Кнопка входа и язык -->
            <div style="margin-left: auto; display: flex; align-items: center; gap: 20px;">
                <div th:onclick="'window.location.href=\'' + @{/avtorizacia} + '\''"
                     style="cursor: pointer; background: #1D1412; color: white; padding: 5px 15px; border-radius: 10px;">
                    Войти
                </div>
              <div style="display: flex; align-items: center;">
                EN
                <div style="width: 17px; height: 8px; margin-left: 10px; border: 2px black solid;"></div>
    </div>
            </div>
        </div>
            </div>
            </div>
    </div>
    <div class = "opisanie">
        <h2 style="text-align: center; font-size: 70px;">геленджик</h2>
    </div>
    <div>
        <p style = "text-align: center; width: 70%; margin-left: 15%; font-size: 25px; margin-top: 5%;">Живописный курорт с протяжённой набережной, окружённый Маркотхским хребтом, предлагает чистые галечные пляжи и мягкий климат. Здесь сочетаются современные развлечения и древние памятники. Идеален для семейного отдыха и активного туризма — от парапланеризма до морских прогулок.</p>
    </div>
    <div class = "blocks">
        <div class = "block_1">
            <img src = "img/Аквапарк Золотая бухта, Геленджик.jpg">
            <div>
                <h6>Аквапарк Золотая бухта</h6>
                <p>Длина главного спуска аквапарка составляет 137 метров, а высота горок достигает 25 метров. В аквапарке собраны водные комплексы и аттракционы, которые наиболее популярные в разных странах мира. </p>
                <button style="cursor: pointer; background: #FC7C5D; color: black; padding: 15px 40px; border-radius: 20px; border: none; font-size: 20px; margin-top: 5%;  margin-left: 43%;"
                        th:onclick="'window.location.href=\'' + @{/gelen_history} + '\''">Хочу Присоединиться!
                </button>
                </div>
        </div>
        <div class = "block_1">
            <img src = "img/Набережная, Геленджик.jpg">
            <div>
                <h6>Набережная</h6>
                <p>Большинство прогулочных маршрутов по Геленджику начинается с великолепной набережной этого курортного города. Ее протяженность составляет 14 км, что делает ее одной из самых длинных набережных в мире.</p>
                <button style="cursor: pointer; background: #FC7C5D; color: black; padding: 15px 40px; border-radius: 20px; border: none; font-size: 20px; margin-top: 5%;  margin-left: 43%;"
                        th:onclick="'window.location.href=\'' + @{/gelen_nature} + '\''">Хочу Присоединиться!
                </button>
                </div>
        </div>
        <div class = "block_1">
            <img src = "img/Скала Парус, Геленджик.jpg">
            <div>
            <h6>Скала Парус</h6>
            <p>Уникальный природный памятник – необычная скала, похожая на парус. Она расположена перпендикулярно берегу Черного моря и представляет собой вертикальный пласт песчаника, отделившийся от основного массива. В начале 70-х годов ХХ века скале был присвоен статус памятника природы.</p>
            <button style="cursor: pointer; background: #FC7C5D; color: black; padding: 15px 40px; border-radius: 20px; border: none; font-size: 20px; margin-top: 5%;  margin-left: 43%;"
                    th:onclick="'window.location.href=\'' + @{/gelen_sea} + '\''">Хочу Присоединиться!
            </button>
            </div>
        </div>
        <div class = "block_1">
            <img src = "img/Хак 2/Парадром Геленджик.jpg">
            <div>
                <h6>Парадром "Геленджик"</h6>
                <p>Один из лучших в России центров для парапланеризма с полетами над морем и горами. Подходит для новичков и профессионалов. Активности: тандем-полеты, курсы пилотов, фотосессии в воздухе.</p>
                <button style="cursor: pointer; background: #FC7C5D; color: black; padding: 15px 40px; border-radius: 20px; border: none; font-size: 20px; margin-top: 5%;  margin-left: 43%;"
                        th:onclick="'window.location.href=\'' + @{/gelen_sport} + '\''">Хочу Присоединиться!
                </button>
                </div>
        </div>
        <button style="cursor: pointer; background: #FC7C5D; color: black; padding: 15px 40px; border-radius: 20px; border: none; font-size: 20px; margin-top: 5%;"
                th:onclick="'window.location.href=\'' + @{/Геленджик} + @{/cityPlaces} + '\''">Создать квест
        </button>
    </div>
    <div class = "contact" style = "margin-top: 5%;">
        <footer style="background: #1A1C13; color: white; padding: 50px 20px;">
            <div style="max-width: 1200px; margin: 0 auto; display: flex; justify-content: space-between;">
              <!-- Лого и навигация -->
              <div>
                <div style="color: #FC7C5D; font-size: 40px; font-family: Roboto; font-style: italic; font-weight: 700; margin-bottom: 30px;">
                  KrayGo
                </div>
                <nav style="display: flex; flex-direction: column; gap: 15px;">
                  <a href="#" style="color: white; text-decoration: none;">Главная</a>
                  <a href="#" style="color: white; text-decoration: none;">Личный кабинет</a>
                  <a href="#" style="color: white; text-decoration: none;">FAQ</a>
                  <a href="#" style="color: white; text-decoration: none;">О нас</a>
                </nav>
              </div>
              
              
        
              <!-- Язык и кнопка -->
              <div style="text-align: right;">
                <div style="margin-bottom: 20px;">
                  RU/ENG
                </div>
                <a href="#" style="color: white; text-decoration: underline;">Кнопка для сотрудничества</a>
              </div>
            </div>
          </footer>
    </div>
</body>
</html>