<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>История</title>
    <link rel="stylesheet" th:href="@{/css/history.css}"/>
</head>
<body style="overflow-x: hidden;">
    <div class = "headd">
        <div style="width: 100%; height: 50px; position: relative; background: white">
            <div class = "headd">
                <!-- Header -->
        <div style="width: 100%; height: 100px; position: fixed; top: 0; background: white; z-index: 100; display: flex; align-items: center; padding: 0 20px;">
            <!-- Логотип -->
            <div style="color: #FC7C5D; font-size: 40px; font-family: Roboto; font-style: italic; font-weight: 700; margin-right: 50px;">
              KrayGo
            </div>
            
            <!-- Навигация -->
            <nav style="display: flex; gap: 30px;">
              <a href="#" style="color: black; text-decoration: none;">Главная</a>
              <a href="#" style="color: black; text-decoration: none;">Города</a>
              <a href="#" style="color: black; text-decoration: none;">Места</a>
              <a href="#" style="color: black; text-decoration: none;">О нас</a>
              <a href="#" style="color: black; text-decoration: none;">FAQ</a>
            </nav>
            
            <!-- Кнопка входа и язык -->
            <div style="margin-left: auto; display: flex; align-items: center; gap: 20px;">
                <div th:onclick="'window.location.href=\'' + @{/avtorizacia} + '\''"
                     style="cursor: pointer; background: #1D1412; color: white; padding: 5px 15px; border-radius: 10px;">
                    Войти
                </div>
              <div style="display: flex; align-items: center;">
                EN
                  <div style="width: 17px; height: 8px; margin-left: 10px; border: 2px black solid;"></div>
    </div>
            </div>
        </div>
            </div>
            </div>
            </div>
    <div class = "opisanie">
        <p style="margin-left: 5%; margin-top: 5%; font-size: 60px;">История</p>

    </div>
    <div class = "blocks">
        <div class = "block_1">
            <img src = "img/Ашхтырская пещера.JPG">
            <div>
                <h3>Сочи -  Ахштырская пещера</h3>
                <p> Пещера представляет собой уникальный памятник первобытной архитектуры, где были найдены следы обитания древних людей. Она стоит из нескольких коридоров и комнат, высота которых достигает 10 метров. Учёные считают, что пещера образовалась около 340-360 тысяч лет назад в результате вымывания рекой Мзымта.</p>
                <button class="but"
                        style="cursor: pointer;"
                        th:onclick="'window.location.href=\'' + @{/sochi_history} + '\''">Подробнее
                </button>
                <div class = "hash">
                    <div style = "display: flex; flex-direction: row; gap: 20px ">
                        <p>аквапарк</p>
                    <p>достопримечательности</p>
                    </div>
                    <div style = "display: flex; flex-direction: row; gap: 20px ">
                        <p>водопады</p>
                    <p>театры</p>
                    <p>музеи</p>
                    </div>
                    
                </div>
                </div>
        </div>
        <div class = "block_1">
            <img src = "img/Дольмены долины реки Жане.jpg">
            <div>
                <h3>Геленджик - Дольмены долины реки Жане</h3>
                <p>Мегалитические сооружения III-II тыс. до н.э. В комплексе: 4 дольмена, каменный круг и древние курганы. Самый крупный - "Дольмен Счастья" с сохранившимся порталом.</p>
                <button class="but"
                        style="cursor: pointer;"
                        th:onclick="'window.location.href=\'' + @{/gelen_history} + '\''">Подробнее
                </button>
                <div class = "hash">
                    <div style = "display: flex; flex-direction: row; gap: 20px ">
                        <p>аквапарк</p>
                    <p>достопримечательности</p>
                    </div>
                    <div style = "display: flex; flex-direction: row; gap: 20px ">
                        <p>водопады</p>
                    <p>театры</p>
                    <p>музеи</p>
                    </div>
                    
                </div>
                </div>
                
        </div>
        <div class = "block_1">
            <img src = "img/Хак 2/Русские ворота.jpg">
            <div>
            <h3>Анапа - Русские ворота</h3>
            <p>Остатки турецкой крепости XVIII века – памятник османского владычества и штурма войсками Суворова (1791 г.). Единственный уцелевший фрагмент мощных укреплений.</p>
            <button class="but"
                    style="cursor: pointer;"
                    th:onclick="'window.location.href=\'' + @{/anapa_history} + '\''">Подробнее
            </button>
            <div class = "hash">
                <div style = "display: flex; flex-direction: row; gap: 20px ">
                    <p>аквапарк</p>
                <p>достопримечательности</p>
                </div>
                <div style = "display: flex; flex-direction: row; gap: 20px ">
                    <p>водопады</p>
                <p>театры</p>
                <p>музеи</p>
                </div>
                
            </div>
            </div>
        </div>
    </div>
    <div class = "contact" style = "margin-top: 5%;">

        <footer style="background: #1A1C13; color: white; padding: 50px 20px;">
            <div style="max-width: 1200px; margin: 0 auto; display: flex; justify-content: space-between;">
              <!-- Лого и навигация -->
              <div>
                <div style="color: #FC7C5D; font-size: 40px; font-family: Roboto; font-style: italic; font-weight: 700; margin-bottom: 30px;">
                  KrayGo
                </div>
                <nav style="display: flex; flex-direction: column; gap: 15px;">
                  <a href="#" style="color: white; text-decoration: none;">Главная</a>
                  <a href="#" style="color: white; text-decoration: none;">Личный кабинет</a>
                  <a href="#" style="color: white; text-decoration: none;">FAQ</a>
                  <a href="#" style="color: white; text-decoration: none;">О нас</a>
                </nav>
              </div>
              
              
        
              <!-- Язык и кнопка -->
              <div style="text-align: right;">
                <div style="margin-bottom: 20px;">
                  RU/ENG
                </div>
                <a href="#" style="color: white; text-decoration: underline;">Кнопка для сотрудничества</a>
              </div>
            </div>
          </footer>
                
            
        
    </div>
</body>
</html>