<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>спорт</title>
    <link rel="stylesheet" th:href="@{/css/sochi_history.css}"/>
</head>
<body style="overflow-x: hidden;">
    <div class="headd">
        <div style="width: 100%; height: 50px; position: relative; background: white">
            <div class = "headd">
                <!-- Header -->
        <div style="width: 100%; height: 100px; position: fixed; top: 0; background: white; z-index: 100; display: flex; align-items: center; padding: 0 20px;">
            <!-- Логотип -->
            <div style="color: #FC7C5D; font-size: 40px; font-family: Roboto; font-style: italic; font-weight: 700; margin-right: 50px;">
              KrayGo
            </div>
            
            <!-- Навигация -->
            <nav style="display: flex; gap: 30px;">
              <a href="#" style="color: black; text-decoration: none;">Главная</a>
              <a href="#" style="color: black; text-decoration: none;">Города</a>
              <a href="#" style="color: black; text-decoration: none;">Места</a>
              <a href="#" style="color: black; text-decoration: none;">О нас</a>
              <a href="#" style="color: black; text-decoration: none;">FAQ</a>
            </nav>
            
            <!-- Кнопка входа и язык -->
            <div style="margin-left: auto; display: flex; align-items: center; gap: 20px;">
                <div th:onclick="'window.location.href=\'' + @{/avtorizacia} + '\''"
                     style="cursor: pointer; background: #1D1412; color: white; padding: 5px 15px; border-radius: 10px;">
                    Войти
                </div>
              <div style="display: flex; align-items: center;">
                EN
                <div style="width: 17px; height: 8px; margin-left: 10px; border: 2px black solid;"></div>
    </div>
            </div>
        </div>
            </div>
            </div>
            </div>
    <div class = "opisanie">
        <p style="margin-left: 5%; padding-top: 25%; font-size: 60px;">геленджик - история</p>

    </div>
    <button style=" background: #FC7C5D; color: black; padding: 15px 40px; border-radius: 20px; border: none; font-size: 20px; margin-top: 5%; margin-left: 80%;">
        дополнительно
      </button>
    <div class = "blocks">
        <div class = "block_1">
            <img src = "img/Хак 2/Геленджикский маяк (1897 г.).jpg">
            <div>
                <h3>Геленджикский маяк </h3>
                <p>Один из старейших действующих маяков Черноморского побережья высотой 17 метров. Сохранил оригинальную французскую линзу XIX века. С площадки открывается панорама бухты.</p>
                <button class = "but">Подробней</button>
                
                </div>
        </div>
        <div class = "block_1">
            <img src = "img/Дольмены долины реки Жане.jpg">
            <div>
                <h3>Дольмены долины реки Жане </h3>
                <p>Мегалитические сооружения III-II тыс. до н.э. В комплексе: 4 дольмена, каменный круг и древние курганы. Самый крупный - "Дольмен Счастья" с сохранившимся порталом.</p>
                <button class = "but">Подробней</button>
                
                </div>
                
        </div>
        <div class = "block_1">
            <img src = "img/Хак 2/Батарея капитана Зубкова.jpg">
            <div>
            <h3>Батарея капитана Зубкова</h3>
            <p>Мемориал времен ВОВ с настоящими орудиями 1942-1943 гг. Батарея защищала бухту от немецких кораблей. Сохранились блиндажи и командный пункт.</p>
            <button class = "but">Подробней</button>
            
            </div>
        </div>
    </div>
    <div>
            <button style=" background: #FC7C5D; color: black; padding: 15px 40px; border-radius: 20px; border: none; font-size: 20px; margin-top: 5%;  margin-left: 43%;">
                Хочу присоединиться!
              </button>
    </div>
    <div class = "contact" style = "margin-top: 5%;">

        <footer style="background: #1A1C13; color: white; padding: 50px 20px;">
            <div style="max-width: 1200px; margin: 0 auto; display: flex; justify-content: space-between;">
              <!-- Лого и навигация -->
              <div>
                <div style="color: #FC7C5D; font-size: 40px; font-family: Roboto; font-style: italic; font-weight: 700; margin-bottom: 30px;">
                  KrayGo
                </div>
                <nav style="display: flex; flex-direction: column; gap: 15px;">
                  <a href="#" style="color: white; text-decoration: none;">Главная</a>
                  <a href="#" style="color: white; text-decoration: none;">Личный кабинет</a>
                  <a href="#" style="color: white; text-decoration: none;">FAQ</a>
                  <a href="#" style="color: white; text-decoration: none;">О нас</a>
                </nav>
              </div>
              
              
        
              <!-- Язык и кнопка -->
              <div style="text-align: right;">
                <div style="margin-bottom: 20px;">
                  RU/ENG
                </div>
                <a href="#" style="color: white; text-decoration: underline;">Кнопка для сотрудничества</a>
              </div>
            </div>
          </footer>
                
            
        
    </div>
</body>
</html>