
.form-table{
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.form-row{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}



.form-row label {
  flex: 1; 
  margin-right: 10px;
  font-weight: bold;
  text-align: right; 
}
.form-row textarea{
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 50px;
  resize: none;
}

.form-row input {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-row fieldset {
  flex: 2;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
}
.form-row input:focus {
  border-color: #08497e;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
  background-color: white;
}